h1{
    color: darkcyan;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: #fdabe3;
    font-size: 20px;
    font-family: Verdana; 
    font-weight: 400;
}
.origami{
    border-radius: 20px;
    background-color: wheat;
    width: 310px;
    font-family: fantasy;
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}